@import '../../../template/template.scss';
.booking-form__rooms-number {
    @include fontH1;
    margin-bottom: 16px;
    

    &::before {
        content: '№';
        @include fontH3;
        margin-right: 5px;
    }
  
}