mixin range-slider(options)
    - var title = options.title
    - var text = options.text || ""

    .range-slider
        .range-slider__title= title
        .slider-wrapper
            .ui-slider
            output(class="range-slider_result")
        .range-slider__text= text