@import './__title/range-slider__title.scss';
@import './__result/range-slider_result.scss';
@import './slider-wrapper/slider-wrapper.scss';
@import './ui-slider/ui-slider.scss';


.range-slider {
    width: 266px; 
    height: 48px;  
    position: relative;
}







