@import "./pagination-container/pagination-container.scss";
@import "./pagination__text/pagination__text.scss";

.pagination {
    width: 100%;
    height: rem(95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  
}