.room-card__price {
    @include fontBody;
    line-height: rem(28);
    color: $dark50;
    font-weight: bold;

    &::after {
        content: "в сутки";
        margin-left: 4px;
        @include fontBody;
        font-size: rem(12);
        line-height: rem(14);
        color: $dark50;
    }
}