.room-card__points {
    position: absolute;
    right: rem(15);
    top: rem(129);
    padding: 0;
    list-style: none;
    margin: 0;
    width: rem(42);
    display: flex;
    justify-content: space-between;


}