.menu__login {
    display:flex;
    align-items: center;

    &:before {
        content: "";
        height:rem(30);
        width: rem(1);
        background: $dark10;
        margin-right: rem(20);
    }
}