.footer-content-column__item {
    list-style: none;
    margin-bottom: rem(20);
    & a {
        text-decoration: none;
        @include fontBody;
        line-height: rem(17);
        color: $dark50;
        white-space: nowrap;
        
    }

    @media screen and (max-width: 800px) {
        margin-bottom: rem(10);
    }
}