mixin dropdown-date(options)
    - var title = options.title
    - var placeholder = options.placeholder
    - var pattern = options.pattern
    - var classInput = options.classInput || ""
    - var value = options.value || ""
           
    div(class="dropdown-date")
            div(class="dropdown-date__title")= title 
            .input-wrapper
                input(class="dropdown-date__input" + " " + classInput, type="text", placeholder=placeholder pattern=pattern value=value)
                div(class="dropdown-date__list-checkbox")         
                    i.material-icon expand_more
                    

