mixin dropdown-date(options)
    - var title = options.title
    - var placeholder = options.placeholder
    - var pattern = options.pattern
           
    div(class="dropdown-date")
            span(class="dropdown-date__title")= title 
            br
            input(class="dropdown-date__input" + " " + classInput, type="text", placeholder=placeholder pattern=pattern)
            div(class="dropdown-date__list-checkbox")
                span
                    i.material-icon expand_more
                

