.logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12.5px;
}

.stop1 {
    stop-color:$purple;
}
.stop2 {
    stop-color: $blue;
}
.stop3 {  
    stop-color: $green;
}
.stop4 {
    stop-color: $blue;
}

.elem1, .elem2 {
    fill: url(#grad1);   
}

.elem3 {
    fill: url(#grad2)
}

