
.calculation-item__information {
    position: absolute;
    left: rem(219);
    @include justify-center;
    @include size(rem(20));
    border: 1px solid $dark25;
    border-radius: 50%;
    align-self: flex-start;
   
    &:after {
        content: "i";
        @include fontBody;
        font-size: rem(12);
        line-height: rem(20);
        color: $dark25;
        font-weight: bold;
    }

}