.expandable-checkbox__button {
    position: absolute;
    z-index: -1;
    // opacity: 0;
    // margin: 0 0 0 50px;
    display: none;
    &:checked ~ .aaa {
        transform: rotate(-180deg);

    }

}