.footer-container {
    @include justify-space-between;
    min-width: $minWidth;
    max-width: $maxWidth;
    margin: auto;
    height: rem(372);
    align-items: flex-start;
    padding-top: rem(104);

    @media screen and (max-width: 800px) {
        justify-content: space-between;
        flex-direction: column;
        padding: rem(30) rem(15); 
        align-items: center;
        height: auto;
    }
}