mixin footer-clean
    footer.footer-clean
        .footer-clean-container
            .footer-clean-container__logo
                +logo
            .footer-clean-container__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .footer-clean-container__social
                +social
