.expandable-checkbox-list {
    position: absolute;
    top: rem(33);
    width: rem(266);
    box-sizing: border-box;
    z-index: 10;
    background-color: #fff;
    display: grid;
    grid-row-gap: rem(12);

    

}