.copyright-container {
    height: rem(70);
    @include justify-space-between;
    // flex-wrap: wrap;
    min-width: $minWidth;
    max-width: $maxWidth;
    margin: auto;

    @media screen and (max-width: 800px) {
        padding: 0 rem(15);
    }
}