.checkbox-button__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: rem(10) 0 0 rem(20);
    &:checked + .checkbox-button__text:before {
        border: $borderCheckboxButtonAfter;
    }
    &:checked + .checkbox-button__text:after {
        opacity: 1;
    }
}