
@import './review-text/__text/review-text__text.scss';
@import './review-text/__time-ago/review-text__time-ago.scss';
@import './review-text/__user-name/review-text__user-name';
@import './review-text/review-text.scss';
@import './review-like/review-like.scss';
@import './__avatar/review__avatar.scss';

.review {
   width: 100%;
   position: relative;
   box-sizing: border-box;

   @media screen and (max-width: 1150px) and (min-width: 700px)  {
      max-width: rem(500);
   }
   @media screen and (max-width: 700px) {
      max-width: rem(320);
   }

}