.facility__icon {
    font-size: $fontSizeFacilityIcon;
    line-height: $lineHeightFacilityIcon;
    @include font-gradient($colorFontFacilityIcon);
    font-family: 'Material Icons';
    margin-right: rem(10);
}