.room-card__information {
    position: absolute;
    width: 233px;
    height: 67px;
    bottom: 19px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}