.room-card__information {
    position: absolute;
    @include size(rem(233), rem(67));
    bottom: rem(19);
    left: rem(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}