mixin social
    .social
        a(class="fab social__icon social__icon_tw" href="#")
        a(class="fab social__icon social__icon_fb" href="#")
        a(class="fab social__icon social__icon_inst" href="#")