@import "../vars/vars";

@font-face {
    font-family: 'Quicksand';
    src: url('/src/fonts/fonts-files/Quicksand-Regular.ttf') format('truetype');
    // font-weight: normal;
    // font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/font-files/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/font-files/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


@mixin fontH1($font-size: 24px, $line-height: 30px) {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: $dark100;
    letter-spacing: 0.045em;
}
@mixin fontH2($font-size: 19px, $line-height: 24px) {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: $dark100;
}
@mixin fontH3($font-size: 12px, $line-height: 15px, $color: $dark100) {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    text-transform: uppercase;
}
@mixin fontBody($font-size: 14px, $line-height: 24px, $color: $dark75) {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-stretch: ultra-expanded;
}

 
@mixin font-gradient($font-size) {
    font-size: $font-size;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Material Icons';
    cursor: pointer;
}