@import "../vars/vars";

@font-face {
    font-family: 'Quicksand';
    src: url($path + '/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url($path + '/assets/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url($path + '/assets/fonts/Montserrat-Bold2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path + '/assets/fonts/Montserrat-Regular2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url($path + '/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');

    ///////////////////////////////////////////////////////////////////////
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
  //   font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url($path + '/assets/fonts/fa-brands-400.ttf') format('truetype'),
    url($path + '/assets/fonts/fa-brands-400.svg') format('svg');
}

.fab {
    font-family: 'Font Awesome 5 Brands';
}

/*Mixins*/

@mixin fontH1() {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeH1;
    line-height: $lineHeightH1;
    color: $colorFontH1;
    font-stretch: extra-expanded;
    letter-spacing: 1.1px;
}
@mixin fontH2($font-size: 19px, $line-height: 24px, $color: $dark100) {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeH2;
    line-height: $lineHeightH2;
    color: $colorFontH2;
}
@mixin fontH3($font-size: 12px, $line-height: 15px, $color: $dark100) {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeH3;
    line-height: $lineheightH3;
    color: $colorFontH3;
    text-transform: uppercase;
}
@mixin fontBody($font-size: 14px, $line-height: 24px, $color: $dark75) {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeBody;
    line-height: $lineHeightBody;
    color: $colorFontBody;
    font-stretch: ultra-expanded;
}
 
@mixin font-gradient($colorGradient: $colorGradientPurple) {
    // font-size: $font-size;
    // line-height: $line-height;
    background-image: $colorGradient;
    background-clip: text;
    color: transparent;
    // font-family: 'Material Icons';

}
@mixin fontButtonBackground {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeButton;
    line-height: $lineHeightTextButton;
    color: $colorFontButtonBackground;
    text-transform: uppercase;
}
@mixin fontButtonBorder {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeButton;
    line-height: $lineHeightTextButton;
    color: $colorFontButtonBorder;
    text-transform: uppercase;
}
@mixin buttonCleanGray {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeButton;
    line-height: $lineHeightTextButton;
    color: $dark50;
    text-transform: uppercase;
}
@mixin buttonClean {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-style: normal;
    font-size: $fontSizeButton;
    line-height: $lineHeightTextButton;
    color: $purple;
    text-transform: uppercase;
}
@mixin fontCheckboxText {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeCheckboxText;
    line-height: $lineHeightCheckboxText;
    color: $colorFontCheckboxText;
    font-stretch: ultra-expanded;
}

@mixin fontDatepickerCell {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeDatepickerCell;
    line-height: $lineHeightDatepickerCell;
    color: $colorFontDatepickerCell;
    font-stretch: ultra-expanded;
}
@mixin fontDatepickerCellDisabled {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeDatepickerCell;
    line-height: $lineHeightDatepickerCell;
    color: $colorFontDatepickerCellDisabled;
    font-stretch: ultra-expanded;
}
@mixin fontCounterButton {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeCounterButton;
    line-height: $lineHeightCounterButton;
    color: $colorFontCounterButton;
    font-stretch: ultra-expanded;
}
@mixin fontLikeButton {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeLikeButton;
    line-height: $lineHeightLikeButton;
    font-stretch: ultra-expanded;
}
@mixin fontPagination {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizePagination;
    line-height: $lineHeightPagination;
    color: $colorFontPagination;
    font-stretch: ultra-expanded;
}
@mixin fontRadioButton {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeRadioButtonText;
    line-height: $lineHeightRadioButtonText;
    color: $colorFontRadioButtonText;
    font-stretch: ultra-expanded;
}
@mixin fontRangeSlider {
    font-family: $fontMontserrat;
    font-weight: lighter;
    font-style: normal;
    font-size: $fontSizeRangeSliderText;
    line-height: $lineHeightRangeSliderText;
    color: $colorFontRangeSliderText;
    font-stretch: ultra-expanded;
}
