.feedback-chart-legend__item {
    position: relative;
    margin: 0;
    padding: 0;
    &:before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        top: 7px;
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        
    }
}