mixin checkbox-button(options)
    - var text = options.text
    - var name = options.name

    div(class="checkbox-button")
        label
            input(class="checkbox-button__input", type="checkbox", name=name)
            div(class="checkbox-button__text")= text
