/*Colors*/
$dark100: #1F2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$azureBlue: #66D2EA;
$blue: #8BA4F9;
$colorGradientPurple: linear-gradient(180deg, $purple 0%, $blue 100%);
$cardBackgroundColor: #FFFFFF;

/*border*/
$borderCard: 1px solid rgba(0, 0, 0, 0.12);
$borderInputDefault: 1px solid $dark25;
$borderInputHover: 1px solid $dark50;
$borderRadiusInput: 4px;
$borderRadiusCard: 4px;


/*fonts*/

/*shadow*/

$cadrShadow: 0px 0px 25px rgba(0, 0, 0, 0.2);



