@import "./_type/text-field__input_type_default";
@import "./_type/text-field__input_type_hover";
@import "./_type/text-field__input_type_masked";
@import "./_type/text-field__input_type_subscription";
@import "../../../../vars/vars.scss";
@import "../../../../fonts/fonts.scss";

.text-field__input {
    margin-top: 5px;
    border: $borderInputDefault;
    border-radius: $borderRadiusInput;
    @include fontBody();
    padding-left: 13px;
    box-sizing: border-box;
}
.text-field__input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}

.text-field__input:hover, .text-field__input:focus {
    border: $borderInputDefault;
    border: $borderInputHover;

}