.sign-in-page-content {
    min-width: 800px;
    max-width: 1200px;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    // padding-top: 30px;
    align-items: center;
}