.room-card__number-reviews {
    @include fontBody;
    line-height: rem(25);
    color: $dark50;
    font-weight: bold;
    &::after {
        content: "Отзывов";
        @include fontBody;
        line-height: rem(18);
        color: $dark50;
        margin-left: rem(5);
        margin-right: rem(2);
    }
}