@import "datepicker-config";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}

.datepicker--cell {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(40);
  z-index: 1;
  @include fontDatepickerCell;

  &.-focus- {
    background: $backgroundDatepickerCellFocus;
    color: $colorFontDatepickerFocus;
  }

  &.-current- {
    color: $colorFontDatepickerFocus;
    font-weight: bold;
    background: $backgroundDatepickerCellCurrent;
   

    &.-focus- {
      color: $backgroundDatepickerCellFocus;
    }

    &.-in-range- {
      color:$colorFontDatepickerFocus;
      border-radius: 50%;
    }
  }

  &.-in-range- {
    // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    // opacity: 0.9;
    border-radius: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      @include size(rem(40), rem(40));
      top: 0;
      left: 0;
      background: $backgroundDatepickerCellFocus;
      opacity: 0.25;
      
    }

    &.-focus- {
      // background-color: green;
      border-radius: 50%;
      color: $colorFontDatepickerFocus;
    }
  }

  &.-disabled- {
    cursor: default;
     @include  fontDatepickerCellDisabled ;

    &.-focus- {
      // color: map_get($datepickerTextColor, disabled);
    }

    &.-in-range- {
      
    }

    &.-current- {
      &.-focus- {
        // color: map_get($datepickerTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    // border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: $backgroundDatepickerCellFocus;
    border-radius: 50%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      @include size(rem(20), rem(40));
      top: 0;
      right: 0;
      background: $backgroundDatepickerCellFocus;
      opacity: 0.25;
    }
 
  }
  &.-range-to- {
    // border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: $backgroundDatepickerCellFocus;
    border-radius:  50%;

    &::before {
      content: '';
      position: absolute;
      @include size(rem(20), rem(40));
      top: 0;
      left: 0;
      background: $backgroundDatepickerCellFocus;
      opacity: 0.25;
    }
    &.-focus- {
      color: $colorFontDatepickerFocus;
    }
    
  }
  &.-selected- {
    color: $colorFontDatepickerFocus;
    font-weight: bold;
    border: none;
    background: $backgroundDatepickerCellFocus;

    &.-current- {
      color: $colorFontDatepickerFocus;
      background: $backgroundDatepickerCellFocus;
    }

    &.-focus- {
      background: $backgroundDatepickerCellFocus;
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: rem(8) 0 rem(3);
  justify-content: center;
  @include fontDatepickerCell;


}

.datepicker--day-name {
  // font-size: rem(12);
  color: $purple;
  @include size(rem(40), rem(40));
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex: 1;
  // text-align: center;
  
 
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: rem(40);
  color: $dark50;
  &.-other-month- {
    color: $dark25;
    &.-focus- {
      color: $colorFontDatepickerFocus;
    }

  }
}

.datepicker--cell-day ~ .-in-range- {
  

}


//  Months
// -------------------------------------------------

.datepicker--months {}

.datepicker--cells-months {
  height: rem(200);
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  @include size(rem(60), rem(60));
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: rem(40);
}

.datepicker--cells-years {
  height: rem(40);
}
//  Year cell
// -------------------------

.datepicker--cell-year {
  @include size (rem(60), rem(60));

  &.-other-decade- {
    // @extend %otherMonth;
  }
}