@import "datepicker-config";
@import '../../../template/template';

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: $datepickerDayCellSize;
  border-radius: $datepickerBorderRadius;
  user-select: none;
  color: $purple;
  font-size: 24px;
  width: 24px;
  height: 24px;


  &:hover {
    background: map_get($datepickerBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  path {
    fill: none;
    stroke: map_get($datepickerTextColor, navArrows);
    stroke-width: 2px;
  }
}

.datepicker--nav-title {
  @include fontH2;

  i {
    font-style: normal;
    margin-left: 5px;
  }

  &:hover {
    background: map_get($datepickerBG, hover);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  bottom: 20px;
}

.datepicker--button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
  cursor: pointer;

  &:hover {

  }
}



.button-clear {
  @include fontH3($color: $dark50);
  box-sizing: border-box;
  left: 20px;
}

.button-apply {
  @include fontH3($color: $purple); 
  border: none;
  right: 20px;


}