@import "datepicker-config";


/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: rem(30);

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: rem(40);
  border-radius: $datepickerBorderRadius;
  user-select: none;
  color: $purple;
  font-size: rem(24);
  @include size(rem(24), rem(24));


  &:hover {
    background: map_get($datepickerBG, hover);
  }

  &.-disabled- {
    visibility: hidden;
  }

  // svg {

  //   width: 32px;
  //   height: 32px;
  // }

  // path {
  //   fill: none;
  //   stroke: map_get($datepickerTextColor, navArrows);
  //   stroke-width: rem(2);
  // }
}

.datepicker--nav-title {
  @include fontH2;

  i {
    font-style: normal;
    margin-left: rem(5);
  }

  // &:hover {
  //   background: map_get($datepickerBG, hover);
  // }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  // bottom: 20px;
  height: rem(15);
}

.datepicker--button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: rem(20);
  cursor: pointer;

  &:hover {

  }
}



.button-clear {
  @extend .button_type_clean-gray;
  box-sizing: border-box;
  left: rem(20);
}

.button-apply {
  @extend .button_type_clean; 
  border: none;
  right: rem(20);


}