@import '../../../template/template.scss';

.button__icon {
    position: absolute;
    font-size: $fontSizeIconButton;
    line-height: $lineHeightIconButton;
    @include justify-center;
    width: rem(44);
    right: 0;
}