mixin text-field(options)
    
    - var title = options.title || "Text field"
    - var typeModifier = options.typeModifier || ""
    - var placeholder = options.placeholder || "placeholder"
    - var pattern = options.pattern || false
           
    div(class="text-field")
        span(class="text-field__title")= title 
        br
        input(class="text-field__input" + " " + typeModifier, type="text", placeholder=placeholder pattern=pattern)
     

