@import "./donut-chart/donut-chart.scss";
@import "./feedback-chart-legend.scss/feedback-chart-legend.scss";
@import './feedback-chart-legend.scss/feedback-chart-legend__bad.scss';
@import './feedback-chart-legend.scss/feedback-chart-legend__good.scss';
@import "./feedback-chart-legend.scss/feedback-chart-legend__great.scss";
@import "./feedback-chart-legend.scss/feedback-chart-legend__normal";
@import "./donut-chart/__text/donut-chart__text.scss";
@import "./donut-chart/__amount/donut-chart__amount";
@import "./donut-chart/__signature/donut-chart__signature.scss";
@import "./feedback-chart-legend.scss/feedback-chart-legend__item.scss";

.feedback-chart {
    position: relative;
    width: 320px;
    height: 120px;
    box-sizing: border-box;

}