@import './facility__icon/facility__icon';
@import './facility__description/facility__description.scss';
@import './facility__title/facility__title.scss';
@import './facility__text/facility__text.scss';
@import './facility_line.scss';

.facility {
    position: relative;
    width: rem(280);
    @include justify-space-between;
    box-sizing: border-box;

}