extends ../layout/main.pug

block variables 
  - var title = "Landing page"
  - var descriptionName = "Landing page"
  - var descriptionContent = "Landing page"

  - var contentWrapperclass = "landing-page-content-wrapper"
  - var pageClass = "landing-page"
  - var contentClass = "landing-page-content"
block content
  .search-rooms-wrapper
    +search-rooms
  .search-rooms-text Лучшие номера для вашей работы, отдыха и просто вдохновения
 
    
    
      
        
    
        
    