extends ../layout/main.pug

block variables 
    - var title = "Registration page"
    - var descriptionName = "Registration page"
    - var descriptionContent = "Registration page"
  
    - var pageClass = "registration-page"
    - var contentWrapperclass = "registration-page-content-wrapper"   
    - var contentClass = "registration-page-content"
block content
    .registration-wrapper
        +registration-form
    