.dropdown-list-item {
    width: 100%;
    margin-top: rem(7);
    @include justify-space-between;
}
.dropdown-list-item__title {
    @include fontH3;
}
.counter {
    width: rem(92);
    @include justify-space-between;
}
.counter__button {
    border: $borderInputDefault;
    border-radius: 50%;
    @include size(rem(30), rem(30));
    cursor: pointer;
    @include fontCounterButton;
    @include justify-center;
}

.counter__button_transparent {
    opacity: 0.5;
}
.counter__value {
    @include fontH3;
}