.search-room-page-content {

    min-width: rem(320);
    max-width: $maxWidth;
    width: 100%;
    margin: auto;
    
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: rem(60);
    padding: rem(30) 0 rem(70);
    min-height: calc(100vh - rem(70));

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
    


}

