.footer-clean-container {
    min-width: 800px;
    max-width: 1200px;
    margin: auto;
    height: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;


}