
.ui-slider {
    position: relative;
    text-align: left;
    box-sizing: border-box;
    width: rem(266);
    height: rem(6);
    border-radius: rem(3);
    border: $borderInputDefault;
}

.ui-slider-handle {
    position: absolute;
    // box-sizing: border-box;
    top: rem(-6);
    width: rem(12);
    height: rem(12);
    background: $colorGradientGreen;
    border-radius: 50%;
    border: rem(2) solid #FFFFFF;
	z-index: 2;
	cursor: default;
	-ms-touch-action: none;
    touch-action: none;
    

}

.ui-slider-range {
    position: absolute;
    z-index: 1;
    top: rem(-1);
	// font-size: .7em;
	display: block;
	border: 0;
    background-position: 0 0;
    background: $colorGradientGreen;
    height: rem(6);
}
