.booking-form__rent-price {
    // position: absolute;
    // top: rem(50);
    // right: rem(30);
    @include fontBody;
    font-size: rem(14);
    line-height: rem(18);
    color: $dark50;
    font-weight: bold;
    padding-bottom: rem(12);
    &::after {
        content: " в сутки";
        @include fontBody;
        font-size: rem(12);
        line-height: rem(18);
        color: $dark50;
    }

}