
.rich-checkbox-button__text {
    position: absolute;
    box-sizing: border-box;
    @include fontBody;
    font-size: rem(12);
    line-height: rem(14);
    top: rem(25);
    left: rem(30);
    width: rem(236);
    padding-right: rem(10);
    
    
    
    

}


