
.rich-checkbox-button__text {
    position: absolute;
    box-sizing: border-box;
    @include fontBody($font-size: 12px, $line-height: 14px, $color: $dark75);
    top: 25px;
    left: 30px;
    width: 236px;
    padding-right: 10px;
    
    
    
    

}


