.registration-page-content-wrapper {
 
    background: url($path + '/assets/img/backgrounds/background_2.png') center;
    background-size: cover;
    height: calc(100vh - rem(70));
    min-height: 700px;
}