.search-result-list {
    position: relative;
    display: grid;
    grid-row-gap: rem(20.5);
    grid-column-gap: rem(12);
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    margin-bottom: rem(40.5);

    @media screen and (max-width: 1160px) and (min-width: 800px) {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-around;
    }

    @media screen and (max-width: 800px) and (min-width: 480px) {
        width: 100%;
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;
    }

}