.checkbox-button__text {
    position: relative;
    padding: 0 0 0 30px;
    @include fontBody($font-size: 14px, $line-height: 18px, $color: $dark50);
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
    }

    &::before {
        background: #FFFFFF;
        border-radius: $borderRadiusInput;
        border: 1px solid $dark25;
        top: 0px;
        left: 0;
        width: 20px;
        height: 20px;
    }
    &::after {
        width: 6px;
        height: 8px;
        border: {
            right: 2px solid transparent;
            bottom: 2px solid transparent;
        }
        border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        left: 7px;
        top: 5px;
        border-image-slice: 1;
        opacity: 0;
        transform: rotate(45deg);
    }
}  