.button_type_background {
    background: $backgroundButton;
    @include justify-center;
    @include fontButtonBackground;
    border: none;
    
    &:active {
        opacity: 0.5;
        
    }

}