@import "../../../template/template.scss";

.button_type_background {
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    @include justify-center;
    @include fontH3($color: #FFF);
    border: none;
    
    &:active {
        opacity: 0.5;
        
    }

}