.button_type_border {
    position: relative;
    background-color: $backgroundButtonBorder;
    $border: rem(2);
    border: $border solid rgba(255, 253, 253, 0);
    @include justify-center;
    @include fontButtonBorder;
    background-clip: padding-box;
    // z-index: 1;

    &::after {
        content: "";
        position: absolute;
        background-image: $borderButtontypeBorder;
        width: inherit;
        height: inherit;
        -webkit-top: -(rem(2));
        -moz-top: -(rem(1));
        z-index: -1;
        border-radius: rem(22);
    }
    &:active::after {
        opacity: 0.5;
    }
}