.room-card__room-number {
    @include fontH2;
    line-height: rem(25);
    font-weight: bold;
    
    

    &::before {
        content: '№';
        @include fontBody;
        color: $dark100;
        font-weight: bold;
        margin-right: rem(5);
    }
}