mixin bullet-list(options)
    - var title = options.title
    - var items = options.items

    div(class="bullet-list")
        ul(class="bullet-list__ul")
            - for (let item of items)
                li(class="bullet-list__item")= item

        

