include ../blocks/form-elements/form-elements.pug
include ../blocks/cards/cards.pug
include ../blocks/page-blocks/page-blocks.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    script(src="../../dist/app.js", type="text/javascript")
    link(rel="stylesheet", href="../dist/app.css" type="text/css" )
  body
    

    H1 Элементы форм
    +text-field({
      title: "Text field",
      typeModifier: "text-field__input_type_default",
      placeholder: "Email"
    })
    br
    +text-field({
      title: "Text field",
      typeModifier: "text-field__input_type_hover",
      placeholder: "Email"
    })
    br
    +text-field({
      title: "Masked text field",
      typeModifier: "text-field__input_type_masked",
      placeholder: "ДД.ММ.ГГГ",
      value: "25.02.2019"
    })
    br
    br
    +text-field-subscription({

    })
    br
    br
    +dropdown-date({
      title: "Date dropdown",
       placeholder: "ДД.ММ.ГГГГ"
    })
    br
    +dropdown-filter-date({
          title: "Filter date dropdown",
    })
    br
    +dropdown({
      title: "Dropdown", 
      classModifier: "dropdown_size_medium", 
      classTypeDropdown: "dropdown-rooms"
    })
  
    div(style="height:120px")
    
    +dropdown({
      title: "Dropdown", 
      classModifier: "dropdown_size_wide", 
      classTypeDropdown: "dropdown-guests",
      placeholder: "Сколько гостей"
    })
    div(style="height:150px")
    
    +checkbox-button({text: "Можно пригласить гостей (до 10 человек)", name: "name", value: "value"})
    form
      +radio-button({text: "Мужчина", name: "gender", value: "male"})
      +radio-button({text: "Женщина", name: "gender", value: "female"})

    +toggle-button({text: "Получать спецпредложения", name: "name", value: "value"})
    br
    +like-button({name: "name", value: "value", checked: true})
    br
    +like-button({name: "name", value: "value"})

    +rate-button({name: "aaa"})
    br
    +rate-button({name: "bbb"})
    br

    +rate-show({name: "ccc", value: "3"})
    br

    +rate-show({name: "ddd", value: "4"})
    br

    +expandable-checkbox({title: "Expandable checkbox list", list: {
      "breakfast": "Завтрак",
      "desk": "Письменный стол",
      "feeding_chair": "Стул для компления",
      "crib": "Кроватка",
      "TV": "Телевизор",
      "shampoo": "Шампунь",
      "TV-2": "Телевизор",
      "shampoo-2": "Шампунь",
    }})

    +rich-checkbox-button({
      title: "Широкий коридор",
      text: "Ширина коридоров в номере не менее 91см."
    })
    +rich-checkbox-button({
      title: "Помощник для инвалидов",
      text: "На 1 этаже вас встретит специалист и проводит до номера."
    })
    +facility({
      icon: "insert_emoticon",
      title: "Комфорт",
      text: "Шумопоглощающие стены"
    })
    +facility({
      icon: "location_city",
      title: "Удобство",
      text: "Окно в каждой из спален"
    })
    
    +review({
      userName: "Мурад Сарафанов",
      timeAgo: "5 дней назад",
      text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
      img: "../img/murad_sarafanov.png"
    })

    +bullet-list({
      title: "Bullet list",
      items: [
        "Нельзя с питомцами",
        "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00, а выезд до 12:00"
      ]
    })
    br
    br

    +range-slider({title: "Range slider"})
    br
    +button({
      title: "Click me",
      type: "background",
      size: "99_44"
    })
    br
    +button({
      title: "Click me",
      type: "border",
      size: "99_44"
    })
    br
    
    br
    +button({
      title: "Click me",
      type: "clean"
     

    })
    br
    +button({
      title: "Перейти к оплате",
      type: "wide",
      size: "320_44"
    })
    br
    +button({
      title: "click me",
      type: "clean-gray"
    })
    br

    +pagination

    //- +datapicker

    +logo
    +booking-form
    
    br
    br
    br

    +search-rooms

    br
    br
    br

    +registration-form

    br
    br
    br
    +login-form

    br
    br
    +room-card({
      pathToImg: "../img/rooms/room_888.png",
      roomNumber: "888",
      deLuxe: true,
      price: "9 990\u20bd",
      rating: 5,
      numberReviews: "145"
    })
    br
    +room-card({
        pathToImg: "../img/rooms/room_840.png",
        roomNumber: "840",
        deLuxe: false,
        price: "9 900\u20bd",
        rating: 4,
        numberReviews: "65"
      })

    br
    br
    +header
    br
    br
    +header("Cosmin Negoita")
    br
    br
    +footer

    br
    br

    +copyright
    br
    br
    +footer-clean
    br
    br

    
 




   

    

    

    