include ../blocks/form-elements/form-elements.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    script(src="../../dist/app.js", type="text/javascript")
    link(rel="stylesheet", href="../dist/app.css")
  body
    H1 Элементы форм
    +text-field({
      title: "Text field",
      typeModifier: "text-field__input_type_default",
      placeholder: "Email"
    })
    +text-field({
      title: "Text field",
      typeModifier: "text-field__input_type_hover",
      placeholder: "Email"
    })
    +text-field({
      title: "Masked text field",
      typeModifier: "text-field__input_type_masked",
      placeholder: "ДД.ММ.ГГГ"
    })
    +text-field({
      title: "Subscription text field",
      typeModifier: "text-field__input_type_subscription",
      placeholder: "Email"
    })