doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    
    link(rel="stylesheet", href="../dist/app.css" type="text/css")
  body
    p start
    a(href="components-page1.html") components page 1
    br
    a(href="components-page2.html") components page 2
    script(src="../../dist/app.js", type="text/javascript")