doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    script(src="../../dist/app.js", type="text/javascript")
    link(rel="stylesheet", href="../dist/app.css")
  body

    p Абзац5456

    div это див
      button  кнопка 55cd2