doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
    
    //- link(rel="stylesheet", href="../dist/app.css" type="text/css")
  body
    p start
    a(href="components-page.html") components page
    br
    a(href="landing-page.html") landing-page
    br
    a(href="search-room-page.html") search-room-page
    br
    a(href="room-details.html") room-details
    br
    a(href="registration.html") registration
    br
    a(href="sign-in.html") sign-in