@import "./pages/components-page/components-page.scss";
@import "./pages/landing-page/landing-page.scss";
@import "./pages/search-room-page/search-room-page.scss";
@import "./pages/room-details/room-details.scss";
@import "./pages/registration/registration.scss";
@import "./pages/sign-in/sign-in.scss";

html {
    font-size: 24px;
    
     @media screen and (max-width: 1024px) and (min-width: 800px) {
        font-size: 22px;
        
    }

    
    @media screen and (max-width: 800px) {
        font-size: 21px;
        
    }
    min-width: 320px;
}
   




body {
    margin: 0;
    padding: 0;
}



.wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    margin: 0 auto;
    min-height: 100vh;
    
}
.content-wrapper {
    display: flex;
    flex-direction: column;
}
.content {
    position: relative;

    height: 100%;
    // min-width: 800px;
    // max-width: 1200px;
    // width: 100%;
    // margin: auto;
}
