mixin dropdown-filter-date(options)
    - var title = options.title
    - var placeholder = options.placeholder
    - var pattern = options.pattern
           
    div(class="dropdown-filter-date")
            span(class="dropdown-filter-date__title")= title 
            br
            input(class="dropdown-filter-date__input", type="text", value="19 авг - 23 авг" placeholder=placeholder pattern=pattern readonly)
            div(class="dropdown-filter-date__list-checkbox")
                span
                    i.material-icon expand_more
                

