
.pagination-container {
    
}

.paginationjs-pages ul {
    padding: 0;
    margin: 0;
}

.J-paginationjs-page a, .paginationjs-prev a, .paginationjs-next a   {  
    text-decoration: none;
}
.J-paginationjs-page a, .paginationjs-ellipsis a {
    @include fontPagination;
    font-weight: normal;
}

.J-paginationjs-page, .paginationjs-prev, .paginationjs-pages .active, .paginationjs-ellipsis, .paginationjs-next  {
    float: left;
    @include size(rem(40));
    list-style: none;
    box-sizing: border-box;
    @include justify-center;
}
.paginationjs-pages .active {
    border-radius: 50%;
    background: $backgroundPaginationActive;    
}
.paginationjs-pages .active a {
    color: #fff;
    font-weight: bold;
}
.paginationjs-next, .paginationjs-prev  {
    border-radius: 50%;
    background: $backgroundPaginationNextAndPrev;
}
.paginationjs-next a, .paginationjs-prev a {
    font-size: rem(24);
    color: #fff;
    @include justify-center;
    @include size(rem(40));
}
