.bullet-list__item {
    display: block;
    position: relative;
    @include fontBody;
    list-style: none;
    margin-top: rem(11);
    padding-left: rem(21);
    padding-right: rem(29);
    
    &::before {
        content: '';
        position: absolute;
        @include size(rem(10), rem(10));
        background-color: $dark25;
        border-radius: 50%;
        top: rem(7);
        left: 0;
    }
}