mixin copyright
    .copyright  
        .copyright-container
            .copyright-container__text Copyright © 2018 Toxin отель. Все права зачищены.
            .copyright-container__social
                +social

