mixin header(login)
    
    header(class="header")
        div(class="header-container")
            div(class="header__logo-container")
                a(href="index.html")
                    +logo
                
            menu(class="menu")
                li(class="menu__item") 
                    a(href="#") О нас
                li(class="menu__item menu__item_dropdown") 
                    a(href="#") Услуги
                    ul(class="menu-dropdown-list")
                        li(class="menu-dropdown-list__item")
                            a(href="#") Услуга 1
                        li(class="menu-dropdown-list__item")
                            a(href="#") Услуга 2
                li(class="menu__item") 
                    a(href="#") Вакансии
                li(class="menu__item") 
                    a(href="#") Новости
                li(class="menu__item menu__item_dropdown") 
                    a(href="#") Соглашения
                    ul(class="menu-dropdown-list")
                        li(class="menu-dropdown-list__item")
                            a(href="#") Соглашение 1
                        li(class="menu-dropdown-list__item")
                            a(href="#") Соглашение 2
                if (login)
                    li(class="menu__item menu__login")
                        a(href="#")= login
                else
                    li(class="menu__item") 
                        .menu__button_login
                            a(href="#")
                                +button({title: "Войти", type: "border", size: "87_34"})
                    li(class="menu__item") 
                        .menu__button_register
                            a(href="#")
                                +button({title: "Зарегистрироваться", type: "background", size: "196_34"})